<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  {% block head %}
  <title>{% block title%}{% endblock %} - WebGlacier</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static",filename="css.css") }}' />
    <link rel='stylesheet' type='text/css' href='{{ url_for("static",filename="cssmenu/menu_assets/styles.css") }}' />
  {% endblock %}
</head>
<body>
  
    {% block form_start %}
    {% endblock %}
    {% block header %}

    <div id='cssmenu'>
        <ul>
          <li ><a href="{{ url_for('main') }}"><span>Home</span></a></li>
          <li><a href="{{ url_for('settings') }}"><span>Settings</span></a></li>
          <li><a href="{{ url_for('help') }}"><span>Help</span></a></li>
          <li style="float:right;">
            <span id='clientSelect'>
              {% if clients|length == 0 %}
                No client connected
                <select name='client_select' style='display:none;'></select>
              {% else %}
                Target client:
                <select name='client_select'>
                  {% for client in clients %}
                    {% if client == clients[0] %}
                      <option value="{{client}}" selected='selected'>{{client}}</option>
                    {% else %}
                      <option value="{{client}}">{{client}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% endif %}
            </span>
          </li>
        </ul>
      </div>


    {% endblock %}
  <div id="content">
    {% block body %}
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2015 by <a href="https://github.com/constantAmateur/WebGlacier/">Matthew Young</a>.  <br/><a href="{{ url_for('get_client') }}">Get the client</a>.
    {% endblock %}
  </div>
</body>
</html>
