<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  {% block head %}
  <title>{% block title%}{% endblock %} - WebGlacier</title>
    <link rel='stylesheet' type='text/css' href='/static/css.css' />
    {#<link rel='stylesheet' type='text/css' href='/static/menu_assets/styles.css' />#}
    <link rel='stylesheet' type='text/css' href='/static/cssmenu/menu_assets/styles.css' />
  {% endblock %}
</head>
<body>
    {% block header %}
    <div id='cssmenu'>
        <ul>
          <li ><a href="/glacier/"><span>Home</span></a></li>
          <li><a href="/glacier/settings/"><span>Settings</span></a></li>
        </ul>
      </div>

    {#<div id='cssmenu'>
        <ul>
          <li ><a href="/glacier/"><span>Home</span></a></li>
          <li><a href="/glacier/settings/"><span>Settings</span></a></li>
        </ul>
      </div>#}
      {#<ul id="mainMenu">
        <li>
          <a href="/glacier/">Home</a>
        </li>
        <li>
          <a href="/glacier/settings/">Settings</a>
        </li>
      </ul>#}
    {% endblock %}
  <div id="content">
    {% block body %}
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2013 by <a href="https://github.com/constantAmateur/WebGlacier/">Matthew Young</a>.
    {% endblock %}
  </div>
</body>
</html>
