{% extends "base.html" %}
{% block title %} Help {% endblock %}
{% block body %}
<h1> Help </h1>
<h2> How do I download/upload an archive? </h2>

If you're reading this via your web browser, you've already done the hard part, getting the server set up and connected to Amazon Glacier.  The web interface gives a convenient and centrally located way to manage your archives.  If you want to download or upload an archive, you also need to have the WebGlacier client running on the machine you want to upload from/download to.

Don't worry, the WebGlacier client requires minimal set up and should work on basically any modern machine.  Basically all you need to do is <a href='/'>download the client</a>, tell it where to find the web interface and let it run.  

{% endblock %}
