{% extends "base.html" %}
{% block title %} Help {% endblock %}
{% block body %}
<h1> Help </h1>


<h2> How do I download/upload an archive? </h2>

<p>
If you're reading this via your web browser, you've already done the hard part, getting the server set up and connected to Amazon Glacier.  The web interface gives a convenient and centrally located way to manage your archives.  If you want to download or upload an archive, you also need to have the WebGlacier client running on the machine you want to upload from/download to.
</p>

<p>
Don't worry, the WebGlacier client requires minimal set up and should work on basically any modern machine.  All you need to do is <a href="{{ url_for('get_client') }}">download the client</a>, set the directory you want your downloads to go in and set it running.  
</p>

<h2> I clicked download/upload but nothing happened.  What the fuck? </h2>

<p>
All operations except downloading or uploading a file can be executed by the server.  This means that they take place immediately and your browser shows you an updated page.  When you try and download or upload something, the uploading/downloading has to be done by your client, not the server hosting web glacier.
</p>

<p>
When you tell the web browser you want to download or upload something, it places a note of that request in a queue.  When the client you are running connects to the web glacier server, it retries that request from the queue and acts upon it.  You won't see anything different in the web browser until the client has completed the upload/download and sent the information back to web glacier.
</p>

<p>
If that's all just a bunch of technical garbage to you.  Don't worry, as long as the client is running on your machine then your upload/download should happen shortly.  Look at the client output and you should see something happening.  Or just wait a minute or two and then refresh the page.
</p>

<h2> I clicked "retrieve" and now it just says "please wait...".  Where is my download? </h2>

<p>
In order to retrieve something from Amazon glacier, you have to first make a request for your archive.  After a delay, which is usually several hours to a day or so, Amazon glacier will return the information needed to actually download the file.  This information is only good for about a day, then you have to go through the process again.
</p>

<p>
Any archive that is stuck on "please wait..." has been requested, but Amazon hasn't gotten back to you yet with the download details.  So you'll have to wait.
</p>

{% endblock %}
