{% macro list_vaults(vaults) -%}
  <table class="vaultTable">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>#Archives</th>
      <th>#Jobs</th>
      <th>Creation Date</th>
      <th>Last Inventory Date</th>
      <th>Delete</th>
    </tr>
  {% for vault in vaults %}
    {{ render_vault(vault,loop.cycle('odd','even')) }}
  {% endfor %}
  </table>
{%- endmacro %}

{% macro render_vault(vault,cls='') -%}
  <tr class={{cls}}>
    <td> <b><a href="{{vault.name}}/">{{vault.name}}</a></b> </td>
    <td align='center'> {{vault.human_size}} </td>
    <td align='center'> {{vault.archives.count()}} </td>
    <td align='center'> {{vault.jobs.filter_by(live=True).count()}} </td>
    <td align='center'> {{vault.creation_date}} </td>
    <td align='center'> {{vault.last_inventory_date}} </td>
    <td align='center'> 
      {% if not vault.lock %}
        <a href="action/deletevault?name={{vault.name}}" class='delete-link' title="Delete">Delete</a> 
      {% else %}
        <img src="/static/icons/PNG/dark/16px/16_lock.png" alt="Vault Locked" height="16" width="16">
      {% endif %}
    </td>
  </tr>
{%- endmacro %}

{% macro list_vault_contents(vault) -%}
  {{ list_archives(vault.archives.all(),lock=vault.lock) }}
  {{ list_jobs(vault.jobs.filter_by(live=True).all(),lock=vault.lock) }}
{%- endmacro %}

{% macro list_archives(archives, lock=False) -%}
  <table class="archiveTable">
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Description</th>
      <th>Full Path</th>
      <th>Insertion Date</th>
      <th>Retrieval</th>
      {% if not lock %}
        <th>Delete</th>
      {% endif %}
    </tr>
    {% for archive in archives|sort(True,attribute='filename') %}
      {{ render_archive(archive,lock=lock) }}
    {% endfor %}
  </table>
{%- endmacro %}

{% macro list_jobs(jobs, lock=False) -%}
  <h2> Jobs </h2>
  <table class="jobTable">
    <tr>
      <th>Jobtype</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Status Code</th>
      <th>Status Message</th>
      <th>Creation Date</th>
      <th>Completion Date</th>
    </tr>
    {% for job in jobs|sort(attribute='completed') %}
      {{ render_job(job,lock=lock) }}
    {% endfor %}
  </table>
{%- endmacro %}

{% macro render_archive(archive,lock=False) -%}
  <div class="archive">
    {% set live=archive.get_download_jobs() %}
    <tr class="{% if archive.is_cached() %} cached {% elif live==None %} archived {% elif not live[0].completed %} pending {% else %} complete {% endif %}">
    <td> {{ archive.filename }} </td>
    <td align='center'> {{ archive.human_size }} </td>
    <td> {{ archive.description }} </td>
    <td> {{ archive.fullpath }} </td>
    <td align='center'> {{ archive.insertion_date }} </td>
    <td align='center'>
      {% if archive.is_cached() %}
        <a href="action/download?archive_id={{archive.archive_id}}" class="download-link" title="Download (Cache)">Download</a>
      {% else %}
        {% if live==None %}
          <a href="action/getarchive?archive_id={{archive.archive_id}}" class='request-link' title="Request Retrieval">Request Data</a>
        {% elif not live[0].completed %}
          Please wait...
        {% else %}
          <a href="action/download?archive_id={{archive.archive_id}}" class='download-link' title="Download (Glacier)">Download</a>
        {% endif %}
      {% endif %}
    </td>
    {% if not lock %}
      <td align='center'> <a href="action/deletearchive?archive_id={{archive.archive_id}}" class='delete-link' title="Delete">Delete</a> </td>
    {% endif %}
  </tr>
</div>
{%- endmacro %}

{% macro render_job(job,lock=False) -%}
  <tr>
 <tr class="{% if not job.completed %} pending {% elif job.status_code=='Succeeded' %} complete {% else %} failed {% endif %}">
    <td> {{ job.action }} </td>
    <td> {{ job.description }} </td>
    <td align='center'> {{ job.completed }} </td>
    <td align='center'> {{ job.status_code }} </td>
    <td> {{ job.status_message }} </td>
    <td align='center'> {{ job.creation_date }} </td>
    <td align='center'> {{ job.completion_date }} </td>
  </tr>
{%- endmacro %}
