{% from "macros.html" import list_vaults %}
{% extends "base.html" %}
{% block title %} Vault Select {% endblock %}
{% block body %}
  <h1> Vaults in region {{rnom}} </h1>
  <div id="header_options">
    <table>
      <tr>
        <td>
    <div id="RegionSelect">
      <form action='{{ url_for("set_region") }}' id='region_select'>
        <b>Region:</b>
      </td>
      <td>
        <select name='region_select'>
          {% for region in regions %}
            {% if region==rnom %}
              <option value="{{region}}" selected='selected'>{{region}}</option>
            {% else %}
              <option value="{{region}}">{{region}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
      <td>
        <button type='submit' title="Change" class="change-link">
          Change
        </button>
      </td>
      </form>
    </div>
    </tr>
    <tr>
      <td>
        <div id="VaultCreate">
          <form action='{{ url_for("create_vault") }}' id='create_vault'>
          <b>Add Vault:</b>
      </td>
      <td>
        <input type='text' name='name'>
      </td>
      <td>
        <button type='submit' title="Create" class="create-link">
          Create
        </button>
      </td>
      </form>
    </div>
    </tr>
    </table>
  </div>

  {{ list_vaults(vaults) }}
{% endblock %}
