{% extends "base.html" %}
{% block title %} Settings {% endblock %}
{% block body %}
<h1> Settings </h1>
<form action="{{ url_for('settings') }}" method='post' name="settings">
  {{form.hidden_tag()}}
  <h2> Amazon Settings </h2>
    <h3> Needed to connect to Amazon glacier servers. </h3>
    {% for error in form.errors['meta_amazon'] %}
      <span class='error'>[{{error}}]</span>
    {% endfor %}
    <table>
    <tr>
      <td><b>Default Region:</b></td>
      <td>
        {{form.DEFAULT_REGION()}}
      </td>
      <td>
        {% for error in form.errors.DEFAULT_REGION %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>AWS Access Key:</b></td>
      <td>
        {{form.AWS_ACCESS_KEY()}}
      </td>
      <td>
        {% for error in form.errors.AWS_ACCESS_KEY %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>AWS Secret Access Key:</b></td>
      <td>
        {{form.AWS_SECRET_ACCESS_KEY()}}
      </td>
      <td>
        {% for error in form.errors.AWS_SECRET_ACCESS_KEY %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>

  <h2> Database Settings </h2>
    <h3> Needed to keep a record of archives stored on Glacier. </h3>
    {% for error in form.errors['meta_sql'] %}
      <span class='error'>[{{error}}]</span>
    {% endfor %}
    <table>
    <tr>
      <td><b>SQL Dialect:</b></td>
      <td>
        {{form.SQL_DIALECT()}}
      </td>
      <td>
        {% for error in form.errors.SQL_DIALECT %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Database:</b></td>
      <td>
        {{form.SQL_DATABASE_NAME()}}
      </td>
      <td>
        {% for error in form.errors.SQL_DATABASE_NAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Username:</b></td>
      <td>
        {{form.SQL_USERNAME()}}
      </td>
      <td>
        {% for error in form.errors.SQL_USERNAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Password:</b></td>
      <td>
        {{form.SQL_PASSWORD()}}
      </td>
      <td>
        {% for error in form.errors.SQL_PASSWORD %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Hostname:</b></td>
      <td>
        {{form.SQL_HOSTNAME()}}
      </td>
      <td>
        {% for error in form.errors.SQL_HOSTNAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
     <tr>
      <td><b>SQL Port:</b></td>
      <td>
        {{form.SQL_PORT()}}
      </td>
      <td>
        {% for error in form.errors.SQL_PORT %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Driver:</b></td>
      <td>
        {{form.SQL_DRIVER()}}
      </td>
      <td>
        {% for error in form.errors.SQL_DRIVER %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Alchemy Pool Recycle:</b></td>
      <td>
        {{form.SQLALCHEMY_POOL_RECYCLE()}}
      </td>
      <td>
        {% for error in form.errors.SQLALCHEMY_POOL_RECYCLE %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>

  <h2> Web Glacier Settings </h2>
  <h3> Customise things about the Web Glacier interface </h3>
  <table>
    <tr>
      <td><b>File name for unknown files:</b></td>
      <td>
        {{form.UNKNOWN_FILENAME()}}
      </td>
      <td>
        {% for error in form.errors.UNKNOWN_FILENAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>
  {# Disabled these as anyone who should be changing them should know how to edit a config file
  <h2> Nerdy settings for nerds </h2>
  <h4> Change them if you know what they're for </h4>
  <table>
    <tr>
      <td><b>Debug:</b></td>
      <td>
        {{form.DEBUG()}}
      </td>
      <td>
        {% for error in form.errors.DEBUG %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Application Host:</b></td>
      <td>
        {{form.APP_HOST()}}
      </td>
      <td>
        {% for error in form.errors.APP_HOST %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>
  <h2> Security Settings </h2>
  <h4>
    <b> Leave these alone unless you know what you're doing.  I mean it. </b>
  </h4>
  <table>
    <tr>
      <td><b>Disable SSL/HTTPS:</b></td>
      <td>
        {{form.DISABLE_HTTPS()}}
      </td>
      <td>
        {% for error in form.errors.DISABLE_HTTPS %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Disable Autentication:</b></td>
      <td>
        {{form.DISABLE_AUTH()}}
      </td>
      <td>
        {% for error in form.errors.DISABLE_AUTH %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>
  #}
  <input type='submit' value="Save Changes">
  <h3> To change security and app serving settings, edit settings.cfg in the root path
    directly.  If you don't know how to do that, you probably shouldn't be changing them. </h3>
</form>
{% endblock %}
