{% extends "base.html" %}
{% block title %} Settings {% endblock %}
{% block body %}
<h1> Settings </h1>
<form action="/glacier/settings/" method=post>
  <h2> Database Settings </h2>
  <table>
    <tr>
      <td><b>SQL Type:</b></td>
      <td>
        <select name='sql_type'>
          <option value="MYSQL" selected>MySQL</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><b>SQL Username:</b></td>
      <td><input type='text' name='sql_username' value={{config["SQL_USERNAME"]}}></td>
    </tr>
    <tr>
      <td><b>SQL Password:</b></td>
      <td><input type='password' name='sql_password'></td>
    </tr>
    <tr>
      <td><b>SQL Hostname:</b></td>
      <td><input type='text' name="sql_hostname" value={{config["SQL_HOSTNAME"]}}></td>
    </tr>
    <tr>
      <td><b>SQL Port Number:</b></td>
      <td><input type='text' name="sql_port" value={{config["SQL_PORT"]}}></td>
    </tr>
 
    <tr>
      <td><b>SQL Database:</b></td>
      <td><input type='text' name="sql_database_name" value={{config["SQL_DATABASE_NAME"]}}></td>
    </tr>
  </table>
  <h2> Amazon Settings </h2>
  <table>
    <tr>
      <td><b>Default Region:</b></td>
      <td>
        <select name='default_region'>
          {% for region in regions %}
            {% if region==rnom %}
              <option value="{{region}}" selected='selected'>{{region}}</option>
            {% else %}
              <option value="{{region}}">{{region}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td><b>AWS Access Key:</b></td>
      <td><input type='text' name='aws_access_key' value={{config["AWS_ACCESS_KEY"]}}></td>
    </tr>
    <tr>
      <td><b>AWS Secret Access Key:</b></td>
      <td><input type='text' name='aws_secret_access_key' value={{config["AWS_SECRET_ACCESS_KEY"]}}></td>
    </tr>
    <tr>
      <td><b>Chunk Size:</b></td>
      <td><input type='text' name="chunk_size" value={{config["CHUNK_SIZE"]}}></td>
    </tr>
  </table>
  <h2> Web Glacier Settings </h2>
  <table>
    <tr>
      <td><b>Temporary Folder:</b></td>
      <td><input type='text' name="temp_folder" value={{config["TEMP_FOLDER"]}}></td>
    </tr>
    <tr>
      <td><b>Unknown File Name:</b></td>
      <td><input type='text' name="unknown_filename" value={{config["UNKNOWN_FILENAME"]}}></td>
    </tr>
    <tr>
      <td><b>Cache Directory:</b></td>
      <td><input type='text' name="local_cache" value={{config["LOCAL_CACHE"]}}></td>
    </tr>
    <tr>
      <td><b>Cache Size(bytes):</b></td>
      <td><input type='text' name="local_cache_size" value={{config["LOCAL_CACHE_SIZE"]}}></td>
    </tr>
    <tr>
      <td><b>Max Cache File Size(bytes):</b></td>
      <td><input type='text' name="local_cache_max_file_size" value={{config["LOCAL_CACHE_MAX_FILE_SIZE"]}}></td>
    </tr>
  </table>
  <h2> Nerdy Settings for Nerds </h2>
  <table>
    <tr>
      <td><b>Debug:</b></td>
      <td><input type='checkbox' name="debug" value='true' {% if config["DEBUG"] %} checked {% endif %} ></td>
    </tr>
    <tr>
      <td><b>Application Host:</b></td>
      <td><input type='text' name='app_host' value={{config["APP_HOST"]}}></td>
    </tr>
    {#<tr>
      <td><b>Secret Key:</b></td>
      <td><input type='text' name='secret_key'></td>
    </tr>#}
    <tr>
      <td><b>SQL Alchemy Pool Recycle:</b></td>
      <td><input type='text' name='sqlalchemy_pool_recycle' value={{config["SQLALCHEMY_POOL_RECYCLE"]}}></td>
    </tr>
  </table>
  <input type='submit' value="Save Changes">
</form>
{% endblock %}
 
