{% extends "base.html" %}
{% block title %} Settings {% endblock %}
{% block body %}
<h1> Settings </h1>
<form action="/glacier/settings/" method='post' name="settings">
  {{form.hidden_tag()}}
  <h2> Database Settings </h2>
    {% for error in form.errors['meta_sql'] %}
      <span class='error'>[{{error}}]</span>
    {% endfor %}
    <table>
    <tr>
      <td><b>SQL Dialect:</b></td>
      <td>
        {{form.SQL_DIALECT()}}
      </td>
      <td>
        {% for error in form.errors.SQL_DIALECT %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Database:</b></td>
      <td>
        {{form.SQL_DATABASE_NAME()}}
      </td>
      <td>
        {% for error in form.errors.SQL_DATABASE_NAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Hostname:</b></td>
      <td>
        {{form.SQL_HOSTNAME()}}
      </td>
      <td>
        {% for error in form.errors.SQL_HOSTNAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Username:</b></td>
      <td>
        {{form.SQL_USERNAME()}}
      </td>
      <td>
        {% for error in form.errors.SQL_USERNAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Password:</b></td>
      <td>
        {{form.SQL_PASSWORD()}}
      </td>
      <td>
        {% for error in form.errors.SQL_PASSWORD %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
     <tr>
      <td><b>SQL Port:</b></td>
      <td>
        {{form.SQL_PORT()}}
      </td>
      <td>
        {% for error in form.errors.SQL_PORT %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>
  <h2> Amazon Settings </h2>
    {% for error in form.errors['meta_amazon'] %}
      <span class='error'>[{{error}}]</span>
    {% endfor %}
    <table>
    <tr>
      <td><b>Default Region:</b></td>
      <td>
        {{form.DEFAULT_REGION()}}
      </td>
      <td>
        {% for error in form.errors.DEFAULT_REGION %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>AWS Access Key:</b></td>
      <td>
        {{form.AWS_ACCESS_KEY()}}
      </td>
      <td>
        {% for error in form.errors.AWS_ACCESS_KEY %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>AWS Secret Access Key:</b></td>
      <td>
        {{form.AWS_SECRET_ACCESS_KEY()}}
      </td>
      <td>
        {% for error in form.errors.AWS_SECRET_ACCESS_KEY %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>
  <h2> Web Glacier Settings </h2>
  <table>
    <tr>
      <td><b>Temporary Directory:</b></td>
      <td>
        {{form.TEMP_FOLDER()}}
      </td>
      <td>
        {% for error in form.errors.TEMP_FOLDER %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Cache Directory:</b></td>
      <td>
        {{form.LOCAL_CACHE()}}
      </td>
      <td>
        {% for error in form.errors.LOCAL_CACHE %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Cache Size(bytes):</b></td>
      <td>
        {{form.LOCAL_CACHE_SIZE()}}
      </td>
      <td>
        {% for error in form.errors.LOCAL_CACHE_SIZE %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Max Cache File Size(bytes):</b></td>
      <td>
        {{form.LOCAL_CACHE_MAX_FILE_SIZE()}}
      </td>
      <td>
        {% for error in form.errors.LOCAL_CACHE_MAX_FILE_SIZE %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>File Name For Unknown Files:</b></td>
      <td>
        {{form.UNKNOWN_FILENAME()}}
      </td>
      <td>
        {% for error in form.errors.UNKNOWN_FILENAME %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>
  <h2> Nerdy settings for nerds </h2>
  <table>
    <tr>
      <td><b>Debug:</b></td>
      <td>
        {{form.DEBUG()}}
      </td>
      <td>
        {% for error in form.errors.DEBUG %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Application Host:</b></td>
      <td>
        {{form.APP_HOST()}}
      </td>
      <td>
        {% for error in form.errors.APP_HOST %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Alchemy Pool Recycle:</b></td>
      <td>
        {{form.SQLALCHEMY_POOL_RECYCLE()}}
      </td>
      <td>
        {% for error in form.errors.SQLALCHEMY_POOL_RECYCLE %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Chunk Size For Transfer:</b></td>
      <td>
        {{form.CHUNK_SIZE()}}
      </td>
      <td>
        {% for error in form.errors.CHUNK_SIZE %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>SQL Driver:</b></td>
      <td>
        {{form.SQL_DRIVER()}}
      </td>
      <td>
        {% for error in form.errors.SQL_DRIVER %}
          <span class='error'>[{{error}}]</span>
        {% endfor %}
      </td>
    </tr>
  </table>

  <input type='submit' value="Save Changes">
</form>
{% endblock %}
