{% from "macros.html" import list_vault_contents %}
{% extends "base.html" %}
{% block form_start %} 
<form method="POST" enctype="multipart/form-data" action="{{ config.get('URL_PREFIX','')+'/'+vault.name+'/action/submit' }}">
{% endblock %}
{% block title %} {{vault.name}} {% endblock %}
{% block body %}
<h1> {{ vault.name }} </h1>
  <div class='nav'>
      {% if vault.lock %}
      <img src="{{ url_for('static',filename='icons/PNG/dark/24px/24_lock.png') }}" alt="Vault Locked" height="24" width="24">
      {% else %}
        {% if inv_job != None %}
          <a href="{{ inv_job }}" title="Force populate from completed job" class='inventory-link'>Populate</a>
        {% else %}
          <a href="action/getinventory" title="Populate from glacier" class='inventory-link'>Request</a>
        {% endif %}
      {% endif %}
  </div>
  <div id="header_options">
    <table>
      <tr>
        <td><b>Change Vault: </b></td>
        <td>      
          <select name='vault_select'>
          {% for altvault in altvaults %}
            {% if altvault.name==vault.name %}
              <option value="{{altvault.name}}" selected='selected'>{{altvault.name}}</option>
            {% else %}
              <option value="{{altvault.name}}">{{altvault.name}}</option>
            {% endif %}
          {% endfor %}
          </select>
        </td>
        <td>
          <button type='submit' title="Change" class="change-link" name='vault_select_pressed' value="change_vault">
            Change
          </button>
        </td>
      </tr>
      {#<tr>
        <form action="/set_client" method='post' id="client_set">
        <td><b>Set Client: </b></td>
        <td>      
          <select name='client_set'>
          {% for client in clients %}
            {% if client==clients[0] %}
              <option value="{{client}}" selected='selected'>{{client}}</option>
            {% else %}
              <option value="{{client}}">{{client}}</option>
            {% endif %}
          {% endfor %}
          </select>
        </td>
        <td>
          <button type='submit' title="Set" class="change-link">
            Set
          </button>
        </td>
        </form>
      </tr>#}
    {% if not vault.lock and not clients %}
       <tr>
        {#<form action="action/addfile" method=post enctype=multipart/form-data>#}
        <td><b>Add archive via server: </b></td>
        <td><input type='file' name='file'></td>
        <td><input type='text' name='upload_description' value="Description of file."> </td>
        <td>
          <button type='submit' title="Upload" class="upload-link" name='add_archive_via_server'>
            Upload
          </button>
        </td>
      </tr>
    {% endif %}
    {% if not vault.lock and clients %}
    {#<tr>
        <form action="action/addfile" method=post enctype=multipart/form-data>
        <td><b>Add Archive: </b></td>
        <td><input type=file name=file></td>
        <td>
          <button type='submit' title="Upload" class="upload-link">
            Upload
          </button>
        </td>
        </form>
      </tr>#}
      <tr>
          <td><b>Add archive via client: </b></td>
          <td><input type='text' name='upload_path'> </td>
          <td><input type='text' name='upload_description' value="Description of file."> </td>
          <td>
            <button type='submit' title='Submit' class='upload-link' value='add_archive' name='upload_pressed'>
              Upload
            </button>
          </td>
      </tr>
    {% endif %}
    </table>
    {#{% if vault.lock %}
      <h1><em> VAULT LOCKED! </em></h1>
      No archives can be added or removed until inventory job has completed.
    {% else %}
      <h3> <a href="action/getinventory">Load archive data from server</a></h3>
      {% endif %}#}
  </div>

  {{ list_vault_contents(vault,clients) }}
  </form>
{% endblock %}
